name: shell commands 

on:
  - push

jobs:
  terraform-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: Set Terraform 
        uses: harshicorp/setup-terraform@2
        with:
           terraform_version: 1.1.9 
      - name: Terraform init
        run: terraform init
      - name: Terraform validate
        run: terraform validate
      - name: Terraform plan
        run: terraform plan
      - name: Terraform apply
        run: terraform apply -auto-approve
      - name: Terraform destroy
        run: terraform destroy -auto-approve
          
      